# <i><b> Flight Price Prediction EDA

## Importing Library

In [93]:
import pandas as pd
import numpy as np
import seaborn as sns

## Reading the Dataset

In [94]:
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [95]:
df.shape

(10683, 11)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [97]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

## Converting features from catagorical to numerical.

### Date of Journey

In [98]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Months'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

# Converting the string data type to numerical.
df['Date'] = df['Date'].astype(int)
df['Months'] = df['Months'].astype(int)
df['Year'] = df['Year'].astype(int)

df.drop('Date_of_Journey', axis=1, inplace=True)

In [99]:
### Droping Route
df.drop('Route', axis=1, inplace=True)

In [100]:
df.head(2)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

### Dep_Time

In [101]:
df['Dep_hour'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_min'] = df['Dep_Time'].str.split(':').str[1]


# Converting the string data type to numerical.
df['Dep_hour']= df['Dep_hour'].astype(int)
df['Dep_min'] = df['Dep_min'].astype(int)


df.drop('Dep_Time', axis=1, inplace=True)

In [102]:
df.head(3)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,5,50
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,25

### Arrival_Time

In [103]:
df['Arr_hour'] = df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[0]
df['Arr_min'] = df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[1]


# Converting the string data type to numerical.
df['Arr_hour']= df['Arr_hour'].astype(int)
df['Arr_min'] = df['Arr_min'].astype(int)


df.drop('Arrival_Time', axis=1, inplace=True)

In [104]:
df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,4,25

### Duration

In [105]:
df['hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['min'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]

# Replacing NaN value with 0.
df['min'] = df['min'].replace(np.nan, '0')
df["hour"] =  pd.to_numeric(df['hour'], errors='coerce')

# Converting the string datatype to numerical.

df['min'] = df['min'].astype(int)

df.drop('Duration', axis=1, inplace= True)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Total_Stops      10682 non-null  object
 4   Additional_Info  10683 non-null  object
 5   Price            10683 non-null  int64
 6   Date             10683 non-null  int32
 7   Months           10683 non-null  int32
 8   Year             10683 non-null  int32
 9   Dep_hour         10683 non-null  int32
 10  Dep_min          10683 non-null  int32
 11  Arr_hour         10683 non-null  int32
 12  Arr_min          10683 non-null  int32
 13  hour             10682 non-null  float64
 14  min              10683 non-null  int32
dtypes: float64(1), int32(8), int64(1), object(5)
memory usage: 918.2+ KB

In [107]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min,hour,min
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897,24,3,2019,22,20,1,10,2.0,50
1,Air India,Kolkata,Banglore,2 stops,No info,7662,1,5,2019,5,50,13,15,7.0,25
2,Jet Airways,Delhi,Cochin,2 stops,No info,13882,9,6,2019,9,25,4,25,19.0,0

## Perfoming OneHotEncoding in categorical variable.

In [108]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [109]:
df['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [110]:

df['Total_Stops'] = df['Total_Stops'].map({
    'non-stop': 0,
    '2 stops': 2, 
    '1 stop': 1,
    '3 stop': 3,
    '4 stop':4,
    np.nan : 1

})

In [111]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min,hour,min
0,IndiGo,Banglore,New Delhi,0.0,No info,3897,24,3,2019,22,20,1,10,2.0,50
1,Air India,Kolkata,Banglore,2.0,No info,7662,1,5,2019,5,50,13,15,7.0,25
2,Jet Airways,Delhi,Cochin,2.0,No info,13882,9,6,2019,9,25,4,25,19.0,0

### Similarly performing feature engineering for destination , source, additional_info and airline

In [112]:
df['Airline'].isnull().sum()

0

In [113]:
df['Destination'].isnull().sum()

0

In [114]:
df['Additional_Info'].isnull().sum()

0

In [115]:
df['Source'].isnull().sum()

0

## Performing OneHotEncoding for all the categorical variable.

In [116]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

encoded_df = pd.DataFrame(encoder.fit_transform(df[['Airline','Source','Destination','Additional_Info']]).toarray(), columns=encoder.get_feature_names_out())

In [125]:
df = pd.concat([df, encoded_df], axis=1)

In [126]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,IndiGo,Banglore,New Delhi,0.0,No info,3897,24,3,2019,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Air India,Kolkata,Banglore,2.0,No info,7662,1,5,2019,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Jet Airways,Delhi,Cochin,2.0,No info,13882,9,6,2019,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [127]:
df.drop(['Airline','Source','Destination','Additional_Info'],axis=1, inplace=True)

In [128]:
df.head(3)

,Total_Stops,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min,hour,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,0.0,3897,24,3,2019,22,20,1,10,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2.0,7662,1,5,2019,5,50,13,15,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.0,13882,9,6,2019,9,25,4,25,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10637 non-null  float64
 1   Price                                         10683 non-null  int64
 2   Date                                          10683 non-null  int32
 3   Months                                        10683 non-null  int32
 4   Year                                          10683 non-null  int32
 5   Dep_hour                                      10683 non-null  int32
 6   Dep_min                                       10683 non-null  int32
 7   Arr_hour                                      10683 non-null  int32
 8   Arr_min                                       10683 non-null  int32
 9   hour                                          10682 non-null  float64
 10  min                                           10683 non-null  int32
 11  Airline_Air Asia                              10683 non-null  float64
 12  Airline_Air India                             10683 non-null  float64
 13  Airline_GoAir                                 10683 non-null  float64
 14  Airline_IndiGo                                10683 non-null  float64
 15  Airline_Jet Airways                           10683 non-null  float64
 16  Airline_Jet Airways Business                  10683 non-null  float64
 17  Airline_Multiple carriers                     10683 non-null  float64
 18  Airline_Multiple carriers Premium economy     10683 non-null  float64
 19  Airline_SpiceJet                              10683 non-null  float64
 20  Airline_Trujet                                10683 non-null  float64
 21  Airline_Vistara                               10683 non-null  float64
 22  Airline_Vistara Premium economy               10683 non-null  float64
 23  Source_Banglore                               10683 non-null  float64
 24  Source_Chennai                                10683 non-null  float64
 25  Source_Delhi                                  10683 non-null  float64
 26  Source_Kolkata                                10683 non-null  float64
 27  Source_Mumbai                                 10683 non-null  float64
 28  Destination_Banglore                          10683 non-null  float64
 29  Destination_Cochin                            10683 non-null  float64
 30  Destination_Delhi                             10683 non-null  float64
 31  Destination_Hyderabad                         10683 non-null  float64
 32  Destination_Kolkata                           10683 non-null  float64
 33  Destination_New Delhi                         10683 non-null  float64
 34  Additional_Info_1 Long layover                10683 non-null  float64
 35  Additional_Info_1 Short layover               10683 non-null  float64
 36  Additional_Info_2 Long layover                10683 non-null  float64
 37  Additional_Info_Business class                10683 non-null  float64
 38  Additional_Info_Change airports               10683 non-null  float64
 39  Additional_Info_In-flight meal not included   10683 non-null  float64
 40  Additional_Info_No Info                       10683 non-null  float64
 41  Additional_Info_No check-in baggage included  10683 non-null  float64
 42  Additional_Info_No info                       10683 non-null  float64
 43  Additional_Info_Red-eye flight                10683 non-null  float64
dtypes: float64(35), int32(8), int64(1)
memory usage: 3.3 MB

# END