# <i><b> Flight Price Prediction EDA

## Importing Library

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

## Reading the Dataset

In [3]:
df = pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [37]:
df.shape

(10683, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

## Converting features from catagorical to numerical.

### Date of Journey

In [6]:
df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Months'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

# Converting the string data type to numerical.
df['Date'] = df['Date'].astype(int)
df['Months'] = df['Months'].astype(int)
df['Year'] = df['Year'].astype(int)

df.drop('Date_of_Journey', axis=1, inplace=True)

In [7]:
### Droping Route
df.drop('Route', axis=1, inplace=True)

In [8]:
df.head(2)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

### Dep_Time

In [9]:
df['Dep_hour'] = df['Dep_Time'].str.split(':').str[0]
df['Dep_min'] = df['Dep_Time'].str.split(':').str[1]


# Converting the string data type to numerical.
df['Dep_hour']= df['Dep_hour'].astype(int)
df['Dep_min'] = df['Dep_min'].astype(int)


df.drop('Dep_Time', axis=1, inplace=True)

In [10]:
df.head(3)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,5,50
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,9,25

### Arrival_Time

In [11]:
df['Arr_hour'] = df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[0]
df['Arr_min'] = df['Arrival_Time'].str.split(' ').str[0].str.split(':').str[1]


# Converting the string data type to numerical.
df['Arr_hour']= df['Arr_hour'].astype(int)
df['Arr_min'] = df['Arr_min'].astype(int)


df.drop('Arrival_Time', axis=1, inplace=True)

In [12]:
df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,4,25

### Duration

In [62]:
df['hour'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['min'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0]

# Replacing NaN value with 0.
df['min'] = df['min'].replace(np.nan, '0')
df["hour"] =  pd.to_numeric(df['hour'], errors='coerce')

# Converting the string datatype to numerical.
df['hour'] = df['hour'].astype(int)
df['min'] = df['min'].astype(int)

# df.drop('Duration', axis=1, inplace= True)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int32
 8   Months           10683 non-null  int32
 9   Year             10683 non-null  int32
 10  Dep_hour         10683 non-null  int32
 11  Dep_min          10683 non-null  int32
 12  Arr_hour         10683 non-null  int32
 13  Arr_min          10683 non-null  int32
 14  hour             10683 non-null  object
 15  min              10683 non-null  int32
dtypes: int32(8), int64(1), object(7)
memory usage: 1001.7+ KB

In [50]:
df.head(3)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Months,Year,Dep_hour,Dep_min,Arr_hour,Arr_min,hour,min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,9,25,4,25,19,0