# <b> <i> One Hot Encoding

#### Importing Libraries

In [10]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [11]:
# Creating DataFrame with categorical variables
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'yellow', 'green', 'blue', 'red', 'yellow', 'red']
})
df

    color
0     red
1    blue
2   green
3  yellow
4   green
5    blue
6     red
7  yellow
8     red

In [12]:
# Creating instance of OneHotEncoder class

encoder = OneHotEncoder()

In [13]:
# fit_transforming the categorical features

encoded = encoder.fit_transform(df[['color']])

In [39]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red', 'color_yellow'],
      dtype=object)

In [40]:
# Coverting to Encoded Value to DataFrame

encoded_df = pd.DataFrame(encoded.toarray(), columns= encoder.get_feature_names_out())
encoded_df

   color_blue  color_green  color_red  color_yellow
0         0.0          0.0        1.0           0.0
1         1.0          0.0        0.0           0.0
2         0.0          1.0        0.0           0.0
3         0.0          0.0        0.0           1.0
4         0.0          1.0        0.0           0.0
5         1.0          0.0        0.0           0.0
6         0.0          0.0        1.0           0.0
7         0.0          0.0        0.0           1.0
8         0.0          0.0        1.0           0.0

In [41]:
# Concatinating it with the original dataframe

pd.concat([df, encoded_df], axis=1)

    color  color_blue  color_green  color_red  color_yellow
0     red         0.0          0.0        1.0           0.0
1    blue         1.0          0.0        0.0           0.0
2   green         0.0          1.0        0.0           0.0
3  yellow         0.0          0.0        0.0           1.0
4   green         0.0          1.0        0.0           0.0
5    blue         1.0          0.0        0.0           0.0
6     red         0.0          0.0        1.0           0.0
7  yellow         0.0          0.0        0.0           1.0
8     red         0.0          0.0        1.0           0.0

# <b><i>