In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
s = df['Name'][0:10]

In [8]:
len(s)

10

In [9]:
type(s)

pandas.core.series.Series

In [10]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

- Instead of buildin index we want to give our own index

In [11]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [14]:
s1 = pd.Series(list(s),index = l)

- Although after new indexing we can still call the specific data from the old indexing

In [17]:
s1[0]

'Braund, Mr. Owen Harris'

In [18]:
s[0]

'Braund, Mr. Owen Harris'

- As you can see s[0] and s1[0] are same.

### append()

In [20]:
s2 = s1.append(s)

/tmp/ipykernel_77/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [23]:
s2[5]

'Moran, Mr. James'

In [25]:
s4 = pd.Series([3,4,5,6,7], index = [2,4,5,6,1])

In [26]:
s5 = pd.Series([34,345,45,45,454], index = [9,4,5,6,7])

In [29]:
s6 = s4.append(s5)

/tmp/ipykernel_77/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [31]:
s6

2      3
4      4
5      5
6      6
1      7
9     34
4    345
5     45
6     45
7    454
dtype: int64

In [30]:
s6[4]

4      4
4    345
dtype: int64

- Here we access the data of index according to named indexes.

In [32]:
s4

2    3
4    4
5    5
6    6
1    7
dtype: int64

In [33]:
s5

9     34
4    345
5     45
6     45
7    454
dtype: int64

#### What will happen if we perform s4*s5

In [35]:
s4*s5  # Does multiplication according to named indexes.

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

# END